* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/blackboard.jpg");
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
  font-size: 10px;
}

/* Se a tela tiver pelo menos 400 pixeis de largura, irá carregar esses estilos */
/* Breakpoints */
@media (min-width: 400px) {
  body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
}

@media (min-width: 450px) {
  body {
    font-size: 18px;
    background-image: none;
    background-color: grey;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 24px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.menu {
  background-color: white;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 1;
}

.menu a {
  display: block;
  padding: 10px 20px;
  transition: background-color, color, 0.5s;
}

.menu a:active,
.menu a:hover {
  background-color: gray;
  color: white;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.titulos {
  animation: linear 1s animacaoTitulos forwards;
}

@keyframes animacaoTitulos {
  from {
    transform: scale(0.5) translateY(10vh);
    opacity: 0;
  }
  to {
    transform: scale(1) translateY(0);
    opacity: 01;
  }
}

.site-subtitle,
.site-title {
  text-align: center;
  color: white;
}

.site-title {
  font-size: 3em;
  font-family: 'Major Mono Display', monospace;
}

.site-subtitle {
  text-align: center;
  color: white;
  opacity: 70%;
  font-size: 1em;
  line-height: 2.5em;
}

.contato,
.portfolio {
  padding: 2em;
  min-height: 100vh;
}
.contato h2,
.portfolio h2 {
  color: white;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 1em;
  font-family: 'Major Mono Display', monospace;
}

.portfolio .grid {
  display: grid;
  gap: 1.5em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: space-around;
    height: calc(100vh - 4em - 48px);
  }

  .portfolio h2 {
    font-size: 2em;
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 240px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 10%;
  filter: grayscale(100%);
  transform: scale(1);
  transition: transform 0.5s;
}

.img-portfolio:hover {
  transform: scale(1.2);
}

.contato a {
  color: black;
  font-size: 1.8em;
  transition: 0.7s;
}

.contato a:active,
.contato a:hover {
  background-color: transparent;
  text-shadow: 0px 0px 5px rgb(255, 255, 255, 0.5);
}

.contato .icons {
  text-align: center;
}
