* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/blackboard.jpg");
  background-size: auto 100vh;
  font-family: Arial;
  height: 100vh;
  font-size: 10px;
}

/* Se a tela tiver pelo menos 400 pixeis de largura, irá carregar esses estilos */
/* Breakpoints */
@media (min-width: 400px) {
  body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
}

@media (min-width: 450px) {
  body {
    font-size: 18px;
    background-image: none;
    background-color: grey;
  }
}

@media (min-width: 1000px) {
  body {
    font-size: 24px;
  }
}

header {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: grey;
  position: fixed;
  width: 100vw;
  top: 0;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
  list-style: none;
}

.menu a {
  display: block;
  padding: 10px 20px;
}

.site-subtitle,
.site-title {
  text-align: center;
  color: white;
}

.site-title {
  font-size: 3em;
  font-family: 'Major Mono Display', monospace;
}

.site-subtitle {
  text-align: center;
  color: white;
  opacity: 70%;
  font-size: 1em;
  line-height: 2.5em;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  background-color: black;
}

.portfolio {
  padding: 2em;
  height: 100vh;
}

.portfolio h2 {
  color: white;
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 1em;
  font-family: 'Major Mono Display', monospace;
}

.portfolio .grid {
  display: grid;
  gap: 1.5em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 240px);
    align-content: center;
    justify-content: space-around;
    height: calc(100vh - 4em - 48px);
  }

  .portfolio h2 {
    font-size: 2em;
  }
}

.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 240px;
  width: 240px;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 10%;
  filter: grayscale(100%);
}
